html {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.header {
   height: 100px;
   
}

.nav {
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo img {
    height: 40px;
    width: auto;
}

.menu {
    align-items: center;
}

.menu-top ul {
    list-style: none;
    display: flex;
    justify-content:end;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.menu-top ul li {
    padding-left: 20px;
}

.menu-lower ul {
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.menu-lower ul li {
    padding-left: 15px;
}

.menu-lower ul li a {
    text-decoration: none;
    color: #E20807;
    font-size: 16px;
    
}

#box {
    max-width: 300px;
    position: relative;
}
 
#box .fa-search {
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: 16px;
    color:#E20807;
}
 
#search {
    width: 50px;
    height: 21px;
    border: 1px solid #E20807 ;
    border-radius: 4px;
    font-size:16px;
    padding: 12px 20px 12px 40px;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
 
#search:focus {
    width: 100%;
}
.home-slider .box {
    height: 600px;
}

.home-slider .box img {
    width: 100%;
    height: 600px;
    position: absolute;
    
}
.box .container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-slider .box-text {
    max-width: 300px;
}

.box-text h6 {
    font: 26px;
    font-weight: 300;
    color: #FFFFFF;
}

.box-text h1 {
    font-size: 76px;
    color: #FFFFFF;
    font-weight: 900;
}

.box-text .link-box {
    width: 200px;
    height: 50px;
    background-color: hsl(0, 94%, 46%);
    border-radius: 6px;
}

.box-text .link-box:hover {
background-color: transparent;
border: 1px solid #E20807;
}
.home-slider .box .box-text a img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
} 


.box-text a { 
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}

.box-text a:hover {
    color: #FFFFFF;
}

.section-information-card .card {
    height: 300px;
    bottom: 50px;
    align-items: center; 
    border: 0px;
    border-radius: 6px;
    box-shadow: 0px 2px 7px #00000029;;   
}

.section-information-card .card img {
   
    margin-top: 30px;
}

.section-information-card .card-body {
    padding-top: 46px;
    padding-bottom: 46px;
}
.section-information-card .card-text {
 
    font-size: 18px;
    color: #E20807;
    font:  normal normal normal 18px/27px Poppins;
}

.section-news .news-header {
    height: 80px;
    display: flex;
    align-items: center;
    
}
.section-news .news-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000079;
    margin: auto;
}

.section-news .news-box img {
    width: 100%;
    height: auto;
    position: relative;
}

.section-news .news-box .container {
    position: absolute;
    
}












